@import "var.styl"

.nav-component
    width 65px  
    padding 0px
    margin 0px
    list-style none
    margin-top 60px
    >.nav-item
        display flex
        justify-content center
        align-items center
        font-size 28px
        margin-bottom 30px
        color $nav-font-color
        cursor pointer
    >.nav-item-active
        color #ffffff
