.ant-tab-component
    >.ant-tabs-bar
        margin-bottom 0
        >.ant-tabs-nav-container
            >.ant-tabs-nav-wrap
                >.ant-tabs-nav-scroll
                    >.ant-tabs-nav 
                        display flex
                        >.ant-tabs-tab
                            display flex
                            align-items center
                            >span 
                                width 80px
                                overflow hidden
                                text-overflow ellipsis
                                white-space nowrap
                                text-align center