.note-catalog
    border-right-width 0
    .ant-spin-nested-loading
        >.ant-spin-container
            >.ant-list-item
                padding 8px
                >.ant-list-item-meta
                    >.ant-list-item-meta-content
                        >.ant-list-item-meta-title
                            overflow hidden
                            text-overflow ellipsis
                            white-space nowrap
                            width 220px
                            margin-bottom 6px
                            >i 
                                margin-right 5px
                        >.ant-list-item-meta-description
                            display -webkit-box
                            /* autoprefixer: off */
                            -webkit-box-orient vertical // 参考 https://github.com/postcss/autoprefixer/issues/776
                            /* autoprefixer: on */
                            -webkit-line-clamp 3
                            overflow hidden

