@import "var.styl"

.md-rich-operation-icon
    display flex
    flex-shrink 0
    flex-wrap wrap  
    >.ant-btn 
        margin-right 5px  
    >.ant-radio-group
        margin-right 5px        
    >.ant-select
        margin-right 5px