.md-rich-editor
    position relative
    >.md-rich-operation-icon
        display flex
        >button  
            cursor pointer
            margin-right 5px
    >.md-rich-work
        position absolute
        left 0px
        right 0px
        bottom 0px
        top 40px
        overflow auto
        white-space: pre-wrap;
        -o-tab-size: 4;
        -moz-tab-size: 4;
        tab-size: 4;
        &:focus
            box-shadow 0 0 0 0 transparent
            outline none