@import "./var.styl"

html,body 
    margin 0
    padding 0
    >#root
        height inherit 
        >.ant-layout-has-sider
            height inherit
            >.ant-layout-sider
                background $main-color
            >.ant-layout
                >.ant-layout-content
                    position relative
                    >.main-panel
                        position absolute
                        left 0
                        right 0
                        top 0
                        bottom 0
                        display flex
