@import "./var.styl"

html,body 
    margin 0
    padding 0
    >#root
        height inherit 
        >.ant-layout-has-sider
            height inherit
            >.ant-layout-sider
                background $main-color