@import "var.styl"

.note-tabs
    position absolute
    left 0px
    right 0px
    top 0px
    bottom 0px
    display flex
    flex-direction column
    >.MD
        padding 0 10px
        display flex
        flex-grow 1
        flex-direction column
        >.note-title-panel
            display flex
            align-items center
            >.ant-radio-group 
                display flex
            >.ant-input
                border-width 0
                &:focus
                    box-shadow 0 0 0 0 transparent
        >.md-rich-editor
            display flex
            flex-direction column
            flex-grow 1
            >.editor-panel
                position relative
                display flex
                flex-grow 1
                flex-direction column
                >.ql-container 
                    position absolute
                    left 0px
                    right 0px
                    bottom 10px
                    top 42px
                    overflow auto
                    height auto
                    white-space pre-wrap
                    -o-tab-size 4
                    -moz-tab-size 4
                    tab-size 4
                    border-width 0px
                >.ql-toolbar
                    border-width 0px
