@import "var.styl"

.note-tabs
    position absolute
    left 0px
    right 0px
    top 0px
    bottom 0px
    display flex
    flex-direction column
    >.ant-tabs
        >.ant-tabs-bar
            margin-bottom 0
            >.ant-tabs-nav-container
                >.ant-tabs-nav-wrap
                    >.ant-tabs-nav-scroll
                        >.ant-tabs-nav 
                            display flex
                            >.ant-tabs-tab
                                display flex
                                align-items center
                                >span 
                                    width 80px
                                    overflow hidden
                                    text-overflow ellipsis
                                    white-space nowrap
                                    text-align center
    >.MD
        padding 0 10px
        display flex
        flex-grow 1
        flex-direction column
        >.ant-input
            border-width 0
            &:focus
                box-shadow 0 0 0 0 transparent
        >.md-rich-editor
            display flex
            flex-direction column
            flex-grow 1
        >.EDITOR
            position absolute
            left 10px
            right 10px
            bottom 0px
            top 77px
            overflow auto
            border-width 0
            padding 6px 11px
