@import "var.styl"

.note-tabs
    position absolute
    left 0px
    right 0px
    top 0px
    bottom 0px
    >.ant-tabs:not(.ant-tabs-vertical)
        >.ant-tabs-bar
            margin-bottom 0
        >.ant-tabs-content
            position relative
            // >.WTF
            //     position absolute
            //     left 0px
            //     right 0px
            //     top 0px
            //     bottom 0px

