@import "var.styl"
.note-catalog-panel
    display flex
    flex-direction column
    >.ant-input
        border-radius 0px
    >.note-tool-panel
        position relative
        width auto
        border-right 1px solid $border-line
        overflow-y auto
        overflow-x hidden
        height 100%
.note-work-panel
    position relative
    flex-grow 1
