@import "var.styl"
.note-panel
    display flex
    height 100%
    >.note-tool-panel
        width 200px
        border-right 1px solid $border-line
        >.note-search-panel
            height 50px
            border-bottom 1px solid $border-line
    >.note-work-panel
        >.note-operation-panel
            border-bottom 1px solid $border-line