@import "var.styl"
.note-catalog-panel
    display flex
    flex-direction column
    flex-shrink 0
    width 256px
    border-right 1px solid $border-line
    >input 
        flex-shrink 0
        border-width 0
        &:focus
            border-width 0
            box-shadow 0 0 0 0
    >.tool-box
        height 30px
        border-bottom 1px solid $border-line
        border-top 1px solid $border-line
        display flex
        align-items center
        justify-content space-between
        flex-shrink 0
        font-size 12px
        >.title
            text-align left
            padding-left 15px
        >.box
            display flex
            margin-right 10px
            >i 
                cursor pointer
                margin-right 10px
                &:hover
                    color $main-color
    >.note-tool-panel
        overflow-y auto
    >.height0
        flex 0 0 0 
.note-work-panel
    width 100%
    >.note-tabs
        height 100%
        position relative
        >.note-title-panel
            padding 0 10px
            display flex
            align-items center
            >.ant-radio-group 
                display flex
                margin-right 10px
            >.ant-input
                border-width 0
                &:focus
                    box-shadow 0 0 0 0 transparent
        >.md-rich-editor
            position absolute
            left 10px
            right 10px
            bottom 0px
            top 80px
            >.simditor
                height 100%
                border-bottom-width 0px
                >.simditor-wrapper
                    height 100%
                    >.simditor-body
                        position absolute
                        left 0px
                        right 0px 
                        top 40px
                        bottom 20px
                        overflow auto
            >.markdown-body
                display block !important
