@import "var.styl"
.note-catalog-panel
    display flex
    flex-direction column
    position relative
    width 256px
    border-right 1px solid $border-line
    >input 
        border-width 0
        &:focus
            border-width 0
            box-shadow 0 0 0 0
    >.tool-box
        height 30px
        border-bottom 1px solid $border-line
        border-top 1px solid $border-line
        display flex
        align-items center
        justify-content space-between
        font-size 12px
        >.title
            text-align left
            padding-left 15px
        >.box
            display flex
            margin-right 10px
            >i 
                cursor pointer
                margin-right 10px
                &:hover
                    color $main-color
    >.note-tool-panel
        position absolute
        overflow-y auto
        flex 0 2 auto
        transition flex 1s
        top 62px
        bottom 0px
        right 0px
        left 0px
    >.height0
        flex 0 0 0 
.note-work-panel
    position relative
    flex-grow 1
    >.note-tabs
        position absolute
        left 0px
        right 0px
        top 0px
        bottom 0px
        display flex
        flex-direction column
        >.MD
            padding 0 10px
            display flex
            flex-grow 1
            flex-direction column
            >.note-title-panel
                display flex
                align-items center
                >.ant-radio-group 
                    display flex
                    margin-right 10px
                >.ant-input
                    border-width 0
                    &:focus
                        box-shadow 0 0 0 0 transparent
            >.md-rich-editor
                display flex
                flex-direction column
                flex-grow 1
                position relative
                >.markdown-body
                    display block !important
                    position absolute
                    overflow-y auto
                    left 0px
                    right 0px
                    bottom 10px
                    top 10px
                >.editor-panel
                    display flex
                    flex-grow 1
                    flex-direction column
                    >.ql-container 
                        position absolute
                        left 0px
                        right 0px
                        bottom 10px
                        top 42px
                        overflow auto
                        height auto
                        border-width 0px
                    >.ql-toolbar
                        border-width 0px
                    >.editor-toolbar
                        border-width 0px
                        padding 0px
                    >.CodeMirror
                        position absolute
                        left 0px
                        right 0px
                        bottom 10px
                        top 42px
                        overflow auto
                        height auto
                        border-width 0px
                    >.editor-statusbar
                        display none
