@import "var.styl"
.note-catalog-panel
    display flex
    flex-direction column
    position relative
    width 256px
    border-right 1px solid $border-line
    >.tool-box
        height 30px
        border-bottom 1px solid $border-line
        border-top 1px solid $border-line
        display flex
        align-items center
        justify-content space-between
        font-size 12px
        >.title
            text-align left
            padding-left 15px
        >.box
            display flex
            margin-right 10px
            >i 
                cursor pointer
                margin-right 10px
                &:hover
                    color $main-color
    >.note-tool-panel
        position absolute
        overflow-y auto
        flex 0 2 auto
        transition flex 1s
        top 62px
        bottom 0px
        right 0px
        left 0px
    >.height0
        flex 0 0 0 
.note-work-panel
    position relative
    flex-grow 1
